{% extends "layout.html" %}
{% block body %}

<div class="block1">
    <h1 style="text-align: center;">Congratulations!!</h1>
    <h1>You have successfully deployed your web application using automated CI/CD.</h1>
    <h1>Are you a M.A.S.K. agent?</h1>
    <BR>
    <h2 style="text-align: center;">Jenkins - AWS CodeBuild - AWS CodeDeploy</h2>

    &nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://i.imgur.com/rKOHPge.gif"
        width="527" height="277" />
</div>
<p>{% endblock %}</p>
